.expandImage {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: unset;
  padding: 1rem;
  border: 0;
  overflow: hidden;
  
  &[open] {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .expandImage__btn {
    position: absolute;
    top: 0.5rem;
    right: 0;
    margin: 0;
    border: none;
    padding: 0.5rem 0.5rem 0.35rem 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background: var(--azul);
    &:hover {
      background: var(--azul-marinho);
    }
  }

  .expandImage__img {
    max-width: 100%;
    border-radius: 15px;
    object-fit: contain;
    max-height: 100%;
  }
}

.expandImage::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}
