/*Sessão Menu*/
menu.menu {
  position: sticky;
  margin: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-de-fundo);
  padding: 1rem 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.menu .identification-page {
  display: flex;
  align-items: center;
}

.menu__image {
  width: 25px;
  border-radius: 50%;
}

.menu__title {
  margin-left: 1rem;
  font-weight: 700;
  color: var(--cor-de-texto);
}

.menu__list {
  display: flex;
}

.menu__list__item a,
.menu__list__item__contato a {
  display: block;
  color: #464646;
  padding: 0.5rem 0.75rem;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.menu__list__item__contato a {
  background-color: #1964AA;
  color: #fff;
}

.menu__list__item a:hover,
.menu__list__item a:focus,
.menu__list__item__contato a:hover,
.menu__list__item__contato a:focus {
  background-color: #D3E3F7;
}

.menu__list__item__contato a:hover,
.menu__list__item__contato a:focus {
  color: #1964AA;
}

.menu__list__item {
  margin: 0 1rem;
}

.menu__list__item__contato {
  font-weight: 700;
}

@media screen and (max-width: 390px) {
  menu.menu {
    display: block;
    position: relative;
  }

  .menu .identification-page {
    justify-content: center;
  }

  .menu__list__item__contato {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  section.menu {
    padding: auto 2rem;
  }

  .menu__list__item__contato a {
    padding: 0;
    margin: 0;
    background-color: var(--cor-de-fundo);
    color: #464646;
  }

  .menu__list__item {
    display: none;
    text-align: right;
  }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
  section.menu {
    padding: auto 3rem;
  }
}
