.apresentacao-pg-auxiliar{
  background-color: transparent !important;

  padding-bottom: 1rem;
  width: 100%;
  
  overflow: auto;
  white-space: nowrap;
  
  scrollbar-width: thin;
  scrollbar-color: #858585 transparent;
}

.apresentacao-pg-auxiliar::-webkit-scrollbar {
  width: 1px;
}

.apresentacao-pg-auxiliar::-webkit-scrollbar-track {
  background: var(--branco);
}

.apresentacao-pg-auxiliar::-webkit-scrollbar-thumb {
  background-color: var(--cinza-mediano-medio);
  border-radius: 15px;
  border: 4px solid var(--branco);
}

.apresentacao-pg-auxiliar__nenhum-projeto{
  padding: 1rem;

  display: none;

  color: var(--cinza-mediano-forte);

  border: 1px solid var(--cinza-fraco-medio);
  border-radius: 5px;
}

[data-conteudo=projetos]{
  display: flex;
}

@media screen and (max-width: 590px) {
  [data-conteudo=projetos]{
    flex-direction: column;
  }
}

@media screen and (min-width: 590px) and (max-width: 767px) {
  .apresentacao-pg-auxiliar{
    overflow: initial;
    scrollbar-width: none;
  }

  [data-conteudo=projetos]{
    display: grid;
    grid-template-columns: 50% 50%;
  }
}