.card-pg-auxiliar-projeto{
  display: grid;
  grid-template-rows: 5px calc(2.5rem + 1.7rem * 2 + 1rem) auto calc(2.75rem + 1rem);
  min-width: 400px;

  padding: 2rem 1rem;

  margin-top: 1rem; 
  margin-right: 1rem;

  border-radius: 15px;
  background-color: var(--cinza-fraco-sec);
}

.card-pg-auxiliar-projeto__marcador{
  display: block;
  width: 30px;
  height: 5px;
  border-radius: 5px;
}

.card-pg-auxiliar-projeto__marcador{
  background-color: var(--cinza-medio-forte);
}

.card-pg-auxiliar-projeto__cabecalho{
  padding: 1.25rem 0;

  border-bottom: 1px dashed var(--cinza-mediano-fraco);
}

.card-pg-auxiliar-projeto__cabecalho__titulo{
  font-size: 1.7rem;

  white-space: normal;

  font-weight: 600;
}

.card-pg-auxiliar-projeto__cabecalho__titulo{
  color: var(--cinza-medio-forte);
}

.card-pg-auxiliar-projeto__corpo{
  margin-top:  1rem;
}

.card-pg-auxiliar-projeto__corpo__marcador{
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin-top: 0.25rem;

  border-radius: 5px;

  color: var(--cinza-medio-forte);
}

.card-pg-auxiliar-projeto__corpo__marcador{
  margin-left: 0.25rem;
}

.card-pg-auxiliar-projeto__corpo__marcador{
  background-color: var(--cinza-fraco-medio);
}

.card-pg-auxiliar-projeto__corpo__descricao{
  color: var(--cinza-medio-forte);

  white-space: normal;

  max-width: auto;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-pg-auxiliar-projeto__rodape{
  margin-top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-pg-auxiliar-projeto__rodape__link{
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.5rem 1.25rem;

  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;

  border-color: var(--cinza-medio-forte);
  color: var(--cinza-medio-forte);

  cursor: pointer;
  transition: 0.3s;
}

.card-pg-auxiliar-projeto a{
  text-decoration: none !important;
}

.card-pg-auxiliar-projeto__rodape__link:hover{
  background-color: var(--cinza-fraco-medio);
}

.card-pg-auxiliar-projeto__rodape__botao-preview{
  display: flex;
  align-items: center;

  padding: 0.5rem 1.25rem;

  border-radius: 15px;

  color: var(--cinza-medio-forte);
  background-color: var(--cinza-fraco-medio);

  outline: none;
  border: none;

  transition: 0.3s;

  text-decoration: none !important;
  cursor: pointer;
}

.card-pg-auxiliar-projeto__rodape__botao-preview span{
  display: none;
}

.card-pg-auxiliar-projeto__rodape__botao-preview i{
  margin-left: 0rem;
}

.card-pg-auxiliar-projeto__rodape__botao-preview:hover,
.card-pg-auxiliar-projeto__rodape__botao-preview:focus{
  box-shadow:  0px 0px 0px 5px var(--azul-claro-medio);
  -webkit-box-shadow: 0px 0px 0px 5px var(--azul-claro-medio);
  -moz-box-shadow: 0px 0px 0px 5px var(--azul-claro-medio);
  outline: none;
  border-color: var(--azul-claro-forte);
}

.card-pg-auxiliar-projeto a{
  text-decoration: underline;
  color: var(--cinza-medio-forte);
}

@media screen and (max-width: 590px) {
  .card-pg-auxiliar-projeto{
    max-width: 100%;
  }
}

@media screen and (min-width: 590px) and (max-width: 767px){
  .card-pg-auxiliar-projeto{
    max-width: calc(100% - 1rem);
  }

  .card-pg-auxiliar-projeto:nth-child(odd){
    margin-right: 0.5rem;
  }

  .card-pg-auxiliar-projeto:nth-child(even){
    margin-left: 0.5rem;
  }

  .card-pg-auxiliar-projeto__corpo__descricao{
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .card-pg-auxiliar-projeto{
    min-width: 100%;
  }

  .card-pg-auxiliar-projeto__rodape__botao-preview span{
    display: none;
  }

  .card-pg-auxiliar-projeto__rodape__botao-preview i{
    margin-left: 0;
  }
}