.selecao-pg-auxiliar-projetos{
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

.selecao-pg-auxiliar-projetos__botao{
  display: inline-block;
  margin-right: 0.2rem;
  padding: 0.5rem 1.25rem;

  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;

  cursor: pointer;
  transition: 0.3s;

  opacity: 0.7;
  transition: 0.3s;
}

.selecao-pg-auxiliar-projetos__botao{
  border-color: var(--cinza-fraco-medio);

  margin-bottom: 0.25rem;

  background-color: var(--cinza-fraco-medio);
}

.selecao-pg-auxiliar-projetos__botao:hover{
  background-color: var(--cinza-medio);

  border-color: var(--cinza-mediano-fraco);

  opacity: 1;
}

.selecao-pg-auxiliar-projetos__botao.ativo{
  background: var(--cinza-medio);

  border-color: var(--cinza-mediano-fraco);
  
  opacity: 1;
}