/*Sessão Title*/
section.title {
  margin: 0 var(--margin-x-sections);
  padding-block-start: 5rem;
  border: unset;
  display: flex;
  font-size: var(--tamanho-fonte-texto-destaque);
}

.title__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
  flex-wrap: wrap;
}

.title__profile {
  order: 1;

  display: block;
  background-image: url(../../assets/img/profile.png);
  background-position: top;
  background-size: cover;

  width: 22.5rem;
  object-fit: contain;
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: 100%;
}

.title__container {
  color: var(--cor-de-texto);
  margin-right: 1rem;
}

.title__bio {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.title__subsection {
  margin-top: 2rem;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.25;
  text-wrap: balance;
}

.title__network {
  display: flex;
  font-size: inherit;
  margin-left: 0;
  padding: 0;

  flex-wrap: wrap;
}

.title__bio,
.title__subsection,
.title__network {
  max-width: 760px;
}

.title__network__item a {
  display: block;
  padding: 0.5rem 0;
  margin-right: 1.5rem;
  border-radius: 25px;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}

.title__network__item__icone {
  display: inline-block;
  width: 1.5rem;
  height: 1.25rem;
  margin-left: 0.15rem;
  background: url(../../assets/img/setas-link-externo.svg) center / contain no-repeat;
}

.title__network__item a:hover,
.title__network__item a:focus {
  background-color: var(--cor-background-hover-links);
  padding: 0.5rem 0.75rem;
  padding-left: 1rem;
}

@media screen and (max-width: 1260px) {
  .title__profile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  section.title {
    margin: auto 2rem;
  }

  .title__div {
    flex-direction: column;
  }

  .title__profile {
    display: none;
  }

  .title__container {
    margin-top: 2rem;
    margin-right: 0;
  }

  .title__bio {
    font-size: 2.5rem;
    line-height: 1.15;
    text-wrap: balance;
  }

  .title__network__item a {
    margin-right: 1rem;
    background-color: var(--cor-background-hover-links);
    padding: 0.5rem 0.75rem;

    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
  section.title {
    padding: auto 3rem;
  }
}