/*Sessão About*/
section.about {
  margin: 0 var(--margin-x-sections);
  padding-block-start: 6rem;
  border: unset;
}

.about__title {
  font-size: 2rem;

  color: var(--cor-de-texto);
}

.about__paragraph {
  margin-top: 1rem;
  font-size: var(--tamanho-fonte-texto-destaque);
  line-height: 1.25;
  /* width: min(100%, 1000px); */
  /* text-wrap: balance; */
}

.about img {
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  section.about {
    margin: 3rem 2rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
  section.about {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
