.cabecalho{
  background: url(../imagens/banner.png) center / cover no-repeat;
  height: calc(100vh);
  width: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
}

.cabecalho__principal{
  position: absolute;
  top: calc(17.5% - 1vh);

  display: flex;
  color: #FFF;
  justify-content: space-between;
  align-items: center;
}

.cabecalho__principal__apresentacao{
  width: 50%;
}

.cabecalho__principal__apresentacao__titulo{
  margin: 1.5rem 0;

  font-weight: 600;
  font-size: 3.25rem;
  font-family: 'Inter Tight', 'Inter', sans-serif;

  text-shadow: 2.5px 2.5px 20px rgba(0, 0, 0, 0.5);
}

.cabecalho__principal__apresentacao__descricao{
  font-size: 1rem;
  margin-right: 1rem;
}

.cabecalho__principal__menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  min-width: 10rem;
  max-width: 15rem;

  padding: 2rem;
  margin-right: 1.8rem;

  backdrop-filter: blur(20px);
  border-radius: 15px;
}

.cabecalho__principal__menu__titulo{
  color: var(--cinza);

  font-weight: 600;
  font-size: 1rem;

  margin-bottom: 1.25rem;
}

.cabecalho__principal__menu__lista{
  list-style-type: none;
  line-height: 3;
}

.cabecalho__principal__menu__lista a{
  color: var(--branco);
  
  text-decoration: none;
}

.cabecalho__principal__menu__item-lista{
  border-left-width: 2px;
  border-left-style: solid;

  padding-left: 1.5rem;
}

.cabecalho__principal__menu__item-lista.ativo{
  border-left-width: 5px;
  
  font-weight: 600;
}

.cabecalho__cards{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1rem;

  display: grid;
  grid-template-columns: calc(33% - 0.25rem) calc(33% - 0.25rem) calc(33% - 0.25rem);
  grid-gap: 1rem;
}

@media screen and (max-width: 320px) and (max-height: 820px) {
  .cabecalho{
    height: calc(100vh + 25vh);
  }
}

@media screen and (min-width: 0) and (max-width: 420px){
  .cabecalho{
    display: block;
  }

  .cabecalho__principal{
    top: 55%;
    transform: translate(0, -50%);
    display: block;
  }

  .cabecalho__principal__apresentacao{
    width: calc(100% - 1rem);
  }

  .cabecalho__principal__apresentacao__titulo{
    font-size: 2rem;

    margin: 1rem 0;
  }

  .cabecalho__principal__apresentacao__descricao{
    padding-right: 0;
  }

  .cabecalho__principal__menu{
    position: relative;

    margin-right: 0;
    margin-top: 1rem;

    display: block;
  }

  .cabecalho__cards{
    display: none;
  }
}

@media screen and (max-width: 300px){
  .cabecalho__principal__menu{
    display: none;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px){
  .cabecalho{
    display: block;
  }

  .cabecalho__principal{
    top: 50%;
    transform: translate(0, -50%);
    display: block;
  }

  .cabecalho__principal__apresentacao{
    width: calc(100% - 2rem);
  }

  .cabecalho__principal__apresentacao__titulo{
    font-size: 3rem;

    margin: 1rem 0;
  }

  .cabecalho__principal__menu{
    display: none;
  }

  .cabecalho__cards{
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1441px) and (max-height: 800px) {
  .cabecalho__principal{
    top: calc(25% - 1vh);
  }

  .cabecalho__cards{
    display: none;
  }
}

@media screen and (max-height: 825px) {
  .cabecalho__principal{
    top: calc(25% - 1vh);
  }

  .cabecalho__principal__menu{
    display: none;
  }

  .cabecalho__cards{
    display: none;
  }
}

@media screen and (max-height: 760px) {
  .cabecalho{
    display: block;
  }

  .cabecalho__principal{
    top: 50%;
    transform: translate(0, -50%);
    display: block;
  }

  .cabecalho__principal__menu{
    display: none;
  }

  .cabecalho__cards{
    display: none;
  }
}