.caracteristicas-sem-marcador{
  list-style-type: none;
}

.caracteristicas-sem-marcador__item.destaque .caracteristicas-sem-marcador__item__descricao{
  font-weight: 700;
}

.caracteristicas-sem-marcador__item{
  line-height: 2;
}

.caracteristicas-sem-marcador__item__icone{
  /* color: var(--cinza-medio-forte); */
  color: var(--branco);

  opacity: 0.5;

  margin-right: 0.2rem;
}

.caracteristicas-sem-marcador__item__descricao{
  display: inline-block;
  font-weight: 500;
}


.caracteristicas{ 
  list-style-type: disc;
}

.caracteristicas li:not(.caracteristicas li:first-child){
  margin-top: auto;
}

.caracteristicas__item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.caracteristicas__item__icone{
  font-size: var(--icone-grande);

  /* color: var(--cinza-medio-forte); */
  color: var(--branco);

  margin-right: 2.5px;
}

.caracteristicas__item__descricao{
  /* color: var(--preto); */
  color: var(--branco);
}


.caracteristicas-formacao li:not(.caracteristicas-formacao li:first-child){
  margin-top: 1rem;
}

.caracteristicas-formacao__item{
  margin-left: 20px;

  line-height: 1.5;

  list-style-type: square;
}

.caracteristicas-formacao__item__titulo{
  font-weight: 600;
}

@media screen and (max-width: 310px) {
  .caracteristicas-sem-marcador__item__icone{
    display: none;
  }
}