.caracteristicas-sem-marcador{
  list-style-type: none;
}

.caracteristicas-sem-marcador__item.destaque .caracteristicas-sem-marcador__item__descricao{
  font-weight: 700;
}

.caracteristicas-sem-marcador__item{
  line-height: 2;
}

.caracteristicas-sem-marcador__item__icone{
  /* color: var(--cinza-medio-forte); */
  color: var(--branco);

  opacity: 0.5;

  margin-right: 0.2rem;
}

.caracteristicas-sem-marcador__item__descricao{
  display: inline-block;
  font-weight: 500;
}

.caracteristicas{ 
  list-style-type: disc;
}

.caracteristicas li:not(.caracteristicas li:first-child){
  margin-top: auto;
}

.caracteristicas__item{
  display: flex;
  align-items: center;
  justify-items: flex-start;
  border-radius: 5px;
  background-color: #000;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  min-height: calc(3.35rem);
  border: 1px solid rgba(255, 255, 255, 0.15);

  .caracteristicas__item__descricao,
  .caracteristicas__item__icone{
    transition: color ease-in-out 0.3s;
  }
  
  &:hover{
    border-color: rgba(255, 255, 255, 0.2);

    .caracteristicas__item__descricao,
    .caracteristicas__item__icone{
      color: var(--branco);
    }
  }

  &.finished{
    border-color: #63DA9250;

    .caracteristicas__item__icone{
      color: var(--verde);
    }

    .caracteristicas__item__descricao{
      color: var(--verde);
    }
  }

  &.studying{
    border-color: #FFFF5530;

    .caracteristicas__item__icone{
      color: var(--amarelo) !important;
    }

    .caracteristicas__item__descricao{
      color: var(--amarelo);
    }
  }

  &.finished,
  &.studying{
    .caracteristicas__item__icone{
      font-size: 1rem;
      margin-left: 0.25rem;
      margin-right: 0.35rem;
    }
  }
}

.caracteristicas__item__icone{
  font-size: var(--icone-grande);

  /* color: var(--cinza-medio-forte); */
  /* color: var(--branco); */
  color: var(--cinza-medio);
  padding: 0.25rem;
  padding-left: 0;

  margin-right: 3px;
}

.caracteristicas__item__descricao{
  /* color: var(--preto); */
  /* color: var(--branco); */
  color: var(--cinza);
}


.caracteristicas-formacao li:not(.caracteristicas-formacao li:first-child){
  margin-top: 1rem;
}

.caracteristicas-formacao__item{
  border-radius: 5px;
  background-color: #000;
  background-clip: padding-box;
  padding: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  margin-left: unset;
  line-height: 1.5;
  list-style-type: none;

  &.finished{
    padding-right: 0.7rem;

    border-color: #FFFF5530;
  }
}

.caracteristicas-formacao__item__titulo{
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .bi{
    margin-left: 1rem;
    color: #FF5
  }
}

@media screen and (max-width: 310px) {
  .caracteristicas-sem-marcador__item__icone{
    display: none;
  }
}