.chamado{ 
  width: 100%;

  margin: 1.25rem 0;
  padding: 4.25rem 2rem;

  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chamado-github{
  background: url(../imagens/banner.png) top / cover no-repeat;
}

.chamado-conheca-portfolio{
  /* Background estilizado nos modificadores das páginas auxiliares */
}

.chamado__icone{
  color: var(--branco);
  
  font-size: 2rem;
}

.chamado__titulo{
  font-size: 4rem;

  font-weight: 600;

  color: var(--branco);

  word-wrap: normal;
}

.chamado__link{
  margin-right: 0.5rem;
  padding: 0.5rem 1.25rem;

  border-width: 1.5px;
  border-style: solid;
  border-color: var(--cinza-medio);
  border-radius: 5px;

  color: var(--cinza);
  text-align: center;

  cursor: pointer;
  transition: 0.3s;
}

.chamado__link:hover{
  background-color: rgba(255, 255, 255, 0.1);
  border-color: var(--branco);

  color: var(--branco);
}

@media screen and (min-width: 0) and (max-width: 767px){
  .chamado{
    flex-direction: column;

    padding: 3rem 2rem;
  }

  .chamado__titulo{
    font-size: 2.5rem;

    margin-bottom: 1rem;

    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 840px){
  .chamado__titulo{
    font-size: 3.5rem;

    margin-bottom: 1rem;

    text-align: left;
  }
}