.contato__titulo{
  font-size: var(--titulo-h2);
  font-weight: var(--weight-titulo-h2);

  padding-bottom: 0.6rem;
}

.contato__descricao{
  margin-bottom: 0.5rem;
}

.contatos{
  display: grid;

  grid-template-columns: repeat(auto-fill, calc(33.3% - 0.75rem));
  /* grid-template-columns: repeat(auto-fill, calc(50% - 1rem)); */
  grid-gap: 1rem;
}

@media screen and (min-width: 0) and (max-width: 767px){
  .contatos{
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px){
  .contatos{
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  }
}