.formulario-pesquisa-projeto{
  margin-top: 0;
  margin-bottom: 1rem;

  .input-group > .btn{
    border-radius: 0 5px 5px 0!important;
  }
}

.formulario-pesquisa-projeto__label{
  /* color: var(--cinza-medio-forte); */
  color: var(--branco);
  text-align: left;

  margin-top: 0.5rem;
}

.formulario-pesquisa-projeto__input{
  display: block;

  /* background-color: var(--cinza-fraco); */
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
  
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;

  /* padding: 0.5rem; */
  width: auto;

  /* margin-top: 0.25rem; */
  /* margin-bottom: 0.5rem; */

  transition: 0.3s;
}

.formulario-pesquisa-projeto__input::placeholder{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  color: rgba(255, 255, 255, 0.5);
}

.formulario-pesquisa-projeto__input:focus{
  /* box-shadow:  0px 0px 0px 2.5px var(--azul-claro-medio);
  -webkit-box-shadow: 0px 0px 0px 2.5px var(--azul-claro-medio);
  -moz-box-shadow: 0px 0px 0px 2.5px var(--azul-claro-medio); */
  outline: none;
  border-color: var(--cinza-medio);
}

.form-group{
  display: flex;
  align-items: center;
}

.formulario-pesquisa-projeto__botao{
  margin-left: 0.75rem !important;
  margin-top: -3px;

  padding: 0.5rem 0.8rem;

  background-color: var(--cinza-medio);

  border: unset;
  border-radius: 50% !important;

  transition: 0.3s;
}

.formulario-pesquisa-projeto__botao:is(:hover, :focus){
  border: unset;
  box-shadow: unset;
  background-color: var(--cinza);
}

.formulario-pesquisa-projeto__botao i{
  padding: 0;
}

@media screen and (max-width: 320px) {
  .form-group{
    flex-direction: column;
    align-items: flex-start;
  }
}