.formulario{
  background-color: var(--cinza-fraco);

  border-radius: 15px;

  display: flex;
  justify-content: space-between;

  padding: 1.5rem 2rem;
}

.formulario__apresentacao{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formulario__apresentacao, .formulario__preenchimento{
  flex-basis: 45%;
}

.formulario__apresentacao__imagem{
  background: url(../imagens/formulario-imagem.svg) left / contain no-repeat;

  width: 7.5rem;
  height: 5.5rem;

  /* margin: 1.5rem 0; */
}

.formulario__apresentacao__titulo,
.formulario__apresentacao__titulo-destaque{
  font-size: var(--titulo-h3);
  font-weight: 600;
}

.formulario__apresentacao__titulo{
  color: var(--cinza-medio-forte)
}

.formulario__apresentacao__titulo-destaque{
  color: var(--azul)
}

.formulario__apresentacao__descricao{
  color: var(--cinza-mediano-fraco);
}

.formulario__preenchimento{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--cinza-fraco-forte);
  
  padding: 1.8rem;

  border-radius: 5px;
}

.formulario__preenchimento__legenda{
  color: var(--cinza-medio-forte);
  text-align: left;

  margin-top: 0.5rem;
}

.formulario__preenchimento__entrada, 
.formulario__preenchimento__mensagem{
  display: block;

  background-color: var(--cinza-fraco);

  border-width: 1px;
  border-style: solid;
  border-color: var(--cinza);
  border-radius: 5px;

  padding: 0.5rem 0.5rem;
  width: 100%;

  margin-top: 0.25rem;
  margin-bottom: 0.5rem;

  transition: 0.3s;
}

.formulario__preenchimento__entrada::placeholder,
.formulario__preenchimento__mensagem::placeholder{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.formulario__preenchimento__entrada:focus,
.formulario__preenchimento__mensagem:focus{
  box-shadow:  0px 0px 0px 5px var(--azul-claro-medio);
  -webkit-box-shadow: 0px 0px 0px 5px var(--azul-claro-medio);
  -moz-box-shadow: 0px 0px 0px 5px var(--azul-claro-medio);
  outline: none;
  border-color: var(--azul-claro-forte);
}

.formulario__preenchimento__mensagem{
  resize: none;
  height: 6rem;
}

.formulario__preenchimento__botao{
  margin-top: 1rem;

  background-color: var(--cinza);

  padding: 0.75rem 0;

  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--cinza-mediano-medio);

  color: var(--cinza-mediano-fraco);

  transition: 0.3s;
}

.formulario__preenchimento__botao:hover{
  background-color: var(--cinza-medio);
  border-color: var(--cinza-forte);
  color: var(--cinza-forte);
}

.formulario-iframe{
  width: 100%;
  height: 600px;

  overflow-y: none;
}

@media screen and (min-width: 0) and (max-width: 390px) {
  .formulario-iframe{
    height: 950px;
  }
}

@media screen and (min-width: 390px) and (max-width: 767px){
  .formulario{
    flex-direction: column;
  }

  .formulario__apresentacao__titulo{
    margin-top: 1rem;
  }

  .formulario__apresentacao__titulo-destaque{
    margin-bottom: 1rem;
  }

  .formulario__preenchimento{
    margin-top: 1rem;

    padding: 0;
    
    background-color: inherit;
  }

  .formulario-iframe{
    height: 850px;
  }
}