.linguagens__titulo{
  font-size: var(--titulo-h2);
  font-weight: var(--weight-titulo-h2);

  padding-bottom: 0.6rem;
}

.linguagens__lista{
  list-style-type: none;

  display: grid;

  grid-template-columns: calc(33.3% - 0.5rem) calc(33.3% - 0.5rem) calc(33.3% - 0.5rem);
  grid-gap: 0.5rem;
}

.linguagem{
  display: grid;
  grid-template-rows: 3.5rem auto;
  
  padding: 1.5rem;
  padding-top: 1rem;

  margin-top: 0.75rem;
  margin-right: 1rem;

  /* border: 1px dashed var(--azul); */
  border: 1px dashed var(--branco);
  border-radius: 7.5px;
}

.linguagem__cabecalho{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.linguagem__cabecalho__icone{
  font-size: var(--icone-grande);
  width: calc(var(--icone-grande) - 0.5rem) !important;

  /* color: var(--cinza-medio-forte); */
  color: var(--branco);
}

.linguagem__cabecalho__titulo{
  font-size: var(--titulo-h3);
  font-weight: 600;
  
  margin-left: 1rem;
  
  /* color: var(--cinza-medio-forte); */
  color: var(--branco);
}

.linguagem__corpo{
  margin-left: calc(1.7rem + 1rem);
}

.linguagem__corpo__descricao{
  display: none;
  margin: 1rem 0;
}

@media screen and (min-width: 0) and (max-width: 767px){
  .linguagens__lista{
    grid-template-columns: 100%;
  }

  .linguagem__corpo{
    margin-left: 0;
  }

  .linguagem{
    margin-right: 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px){
  .linguagens__lista{
    grid-template-columns: 50% 50%;
  }
}