.marcador{
  display: inline-block;

  color: var(--preto-medio);

  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;

  border-radius: 5px;
}

.marcador:last-child{
  margin-bottom: 0;
}

.marcador__icone{
  margin-right: 0.2rem;

  font-size: 1rem;
}

.marcador__descricao{
  margin-left: 0.2rem;
  display: inline-block;
}

.coloracao-todos{
  background-color: var(--azul-claro-medio);
}

.coloracao-transparente{
  background-color: transparent;
}

.coloracao-produtividade{
  background-color: var(--roxo-medio);
}

.coloracao-back-end{
  background-color: var(--bege);
}

.coloracao-front-end{
  background-color: var(--amarelo-claro);
}

.coloracao-programacao{
  background-color: var(--azul-claro-forte);
}

.coloracao-desenvolvimento-web{
  background-color: var(--verde);
}

.coloracao-design{
  background-color: var(--pessego);
}

.coloracao-ux-ui{
  background-color: var(--rosa);
}