.selecao{
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.selecao__botao-projeto, 
.selecao-linguagens__botao{
  display: inline-block;
  margin-right: 0.2rem;
  padding: 0.5rem 1.25rem;

  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;

  cursor: pointer;
  transition: 0.3s;

  opacity: 0.7;
  transition: 0.3s;
}

.selecao__botao-projeto{
  /* border-color: var(--azul-claro-forte); */
  border-color: unset;

  margin-bottom: 0.25rem;

  background-color: var(--azul-claro-forte);
}

.selecao-linguagens__botao{
  border-color: unset;

  margin-bottom: 0.25rem;
}

.selecao__botao-projeto:hover{
  background-color: var(--azul-mais-claro);
  opacity: 1;
}

.selecao-linguagens__botao:hover{
  opacity: 1;
}

.selecao__botao-projeto.ativo{
  background: var(--azul-claro-medio);
  opacity: 1;
}

.selecao-linguagens__botao.ativo{
  opacity: 1;
}

