/* Serviços */
section.services {
  padding: 3rem var(--margin-x-sections);
  background: var(--cor-de-fundo-formacao);
}

/* TODO - Estilização compartilhada com .academic. Definir nova classe para remover duplicidade de código */
.services__title {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;

  color: var(--cor-de-texto);
}

.services__content__list {
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-areas:
    "li-1 li-1 li-1"
    "li-2 li-3 li-4"
    "li-5 li-5 li-6";
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  list-style: none;
  gap: 1rem;

  @media screen and (max-width: 1200px) {
    grid-template-areas:
      "li-1 li-2"
      "li-3 li-4"
      "li-5 li-6";
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-areas:
      "li-1"
      "li-2"
      "li-3"
      "li-4"
      "li-5"
      "li-6";
    grid-template-columns: 1fr;
  }
}

.services__content__list .list-item {
  background: linear-gradient(20deg, rgba(45, 96, 163, 0.025), rgba(0, 110, 255, 0.15));
  border-radius: 5px;
  min-height: 100px;
  padding: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:nth-child(1) {
    grid-area: li-1;
  }

  &:nth-child(2) {
    grid-area: li-2;
  }

  &:nth-child(3) {
    grid-area: li-3;
  }

  &:nth-child(4) {
    grid-area: li-4;
  }

  &:nth-child(5) {
    grid-area: li-5;
  }

  &:nth-child(6) {
    grid-area: li-6;
  }

  .list-item__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .list-item__header__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #464646;
  }

  .list-item__header__icon {
    width: 1rem;
    object-fit: contain;
  }

  .list-item__body__description {
    /* font-size: var(--tamanho-fonte-texto-normal); */
    letter-spacing: 0.5px;
    color: #464646;
    line-height: 1.25;
  }
}

@media screen and (max-width: 767px) {
  section.services {
    padding: 3rem 2rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
  section.services {
    padding: 2rem 3rem;
  }
}