.sobre__titulo{
  font-size: 2.25rem;
  font-weight: 600;

  padding-bottom: 0.6rem;
}

.sobre__descricao{
  margin-bottom: 0.5rem;
}

.sobre__lista{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.sobre__lista__item{
  margin-top:  1.5rem;
}

.sobre__lista__item:first-child{
  margin-right: 5rem;
}

.sobre__lista__item__cabecalho{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sobre__lista__item__cabecalho__icone{
  /* color: var(--cinza-medio-forte); */
  color: var(--branco);

  font-size: var(--icone-grande);
}

.sobre__lista__item__cabecalho__titulo{
  /* color: var(--cinza-medio-forte); */
  color: var(--branco);

  margin-left: 1rem;

  font-size: var(--titulo-h3);
  font-weight: 600;
}

.sobre__lista__item__corpo{
  margin-left: calc(1.7rem + 1rem);
}

.sobre__lista__item__corpo__descricao{
  margin: 1rem 0;
}

.sobre_grupo-descricao{
  columns: 2;
  margin: 1.5rem 0;
}

@media screen and (max-width: 767px){
  .sobre__lista__item__corpo{
    margin-left: 0;
  }

  .sobre__lista__item:first-child{
    margin-right: 0;
  }

  .sobre_grupo-descricao{
    columns: unset;
  }
}