.modal {
  border: none;
  border-radius: 5px;

  padding: 2rem;
  width: min(calc(100% - 4rem), 600px);
  margin: auto;
}

.modal::backdrop {
  background-color: var(--preto-015);
}

.modal p {
  line-height: 1.5;
}

.modal ul li {
  list-style-type: square;
  margin-left: 20px;
  line-height: 2;
}

.modal button {
  cursor: pointer;
  outline: none;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid var(--cinza-c);
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .modal {
    padding: 1.5rem;
  }
}
