.card-linguagem{
  display: inline-block;

  margin-top: 1rem;
  margin-right: 0.75rem;
  
  background: var(--cinza-fraco-forte);
  padding: 1.7rem;

  border-radius: 15px;
  width: 500px;
}

.card-linguagem:last-child{
  margin-right: 0;
}

.card-linguagem .card-linguagem__header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 0.75rem;
}

.card-linguagem .card-linguagem__header{
  border-bottom: 1px dashed var(--cinza-mediano-fraco);
}

.card-linguagem .card-linguagem__header__principal{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-linguagem .card-linguagem__header__principal__titulo{
  font-size: var(--titulo-h3);
  font-weight: 600;
}

.card-linguagem .card-linguagem__header__principal__titulo{
  color: var(--preto);
}

.card-linguagem .card-linguagem__header__principal__avaliacao{
  margin-left: 0.75rem;

  font-size: 0.75rem;
}

.card-linguagem .card-linguagem__header__principal__avaliacao{
  color: var(--cinza-mediano-fraco);
}

.card-linguagem .card-linguagem__header__versao{
  color: var(--cinza-mediano-fraco);
}

.card-linguagem .card-linguagem__corpo{
  padding: 1.8rem 0;
  flex-wrap: wrap;
}

.card-linguagem .card-linguagem__rodape{
  display: flex;
  justify-content: space-between;
}

.card-linguagem .card-linguagem__rodape__link{
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.5rem 1.25rem;

  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;

  cursor: pointer;
  transition: 0.3s;
}

.card-linguagem .card-linguagem__rodape__link{
  border-color: var(--cinza-mediano-fraco);
  background: var(--cinza-medio);
  color: var(--preto);
}

.card-linguagem .card-linguagem__rodape__link:hover{
  background-color: rgba(114, 114, 114, 0.5);
  border-color: var(--preto-medio);
  color: var(--preto);
}

.card-linguagem .contador-projetos{
  display: flex;
  align-items: center;

  padding: 0.5rem 1.25rem;
}

.card-linguagem .contador-projetos{
  background: var(--cinza);
  border-radius: 15px;
}

.card-linguagem .contador-projetos__quantidade{
  font-size: 1rem;
}

.card-linguagem .contador-projetos__icone{
  font-size: 1rem;

  margin-left: 0.75rem;
}

.card-linguagem .contador-projetos__icone{
  color: var(--preto);
}

@media screen and (min-width: 0) and (max-width: 767px){
  .card-linguagem{
    width: auto;
  }

  .card-linguagem__header__principal__avaliacao{
    display: none;
  }

  .card-linguagem__header__versao{
    display: none;
  }
}