.card-contato{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 0.5rem;
  margin-bottom: 1rem;

  border-radius: 15px;
}

.card-contato{
  /* background-color: var(--oliva-fraco); */
  background: linear-gradient(135deg, rgba(86, 137, 93, 0.20) 0%, rgba(86, 137, 93, 0.075) 100%);
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 2rem 1rem;
}

.card-contato__cabecalho{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-contato__icone{
  font-size: 1.7rem;

  /* color: var(--cinza-medio-forte); */
  color: var(--cinza-fraco);
}

.card-contato__titulo{
  font-size: 1.7rem;
  font-weight: 600;

  margin-left: 1rem;

  /* color: var(--cinza-medio-forte); */
  color: var(--cinza-fraco);
}

.card-contato__descricao, .card-contato__url{
  /* margin-left: calc(1.7rem + 1rem); */

  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-contato__descricao{
  padding: 0.5rem 0;

  /* color: var(--cinza-mediano-fraco); */
  color: var(--cinza-fraco-medio);
}

a.card-contato__url{
  padding: 0.5rem 0;

  /* color: var(--preto) !important; */
  color: var(--branco) !important;
}

.card-contato__link{
  display: inline-block;
  margin-top: 0.75rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1.25rem;

  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;

  cursor: pointer;
  transition: 0.3s;

  background-color: rgba(255, 255, 255, 0.10) !important;
  border-color: rgba(255, 255, 255, 0.25) !important;
  color: var(--cinza-fraco) !important;
}

.card-contato__link:Is(:hover, :focus){
  background-color: rgba(255, 255, 255, 0.25) !important;
  border-color: rgba(255, 255, 255, 0.25) !important;
  color: var(--branco) !important;
}

@media screen and (min-width: 0) and (max-width: 390px){
  .card-contato__url{
    display: none;
  }

  .card-contato__descricao{
    padding: 0;
    margin: 0.5rem 0;
  }
}

@media screen and (min-width: 0) and (max-width: 767px){
  .card-contato{
    margin-bottom: 0;
  }
}