.card-linguagem-transparente{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.7rem;

  border-radius: 15px;
}

.card-linguagem-transparente{
  backdrop-filter: blur(20px);
}

.card-linguagem-transparente .card__header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 0.75rem;
}

.card-linguagem-transparente .card__header{
  border-bottom: 1px dashed var(--branco);
}

.card-linguagem-transparente .card__header__principal{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-linguagem-transparente .card__header__principal__titulo{
  font-size: var(--titulo-h3);
  font-weight: 600;
}

.card-linguagem-transparente .card__header__principal__titulo{
  color: var(--branco);
}

.card-linguagem-transparente .card__header__principal__avaliacao{
  margin-left: 0.75rem;

  font-size: 0.75rem;
}

.card-linguagem-transparente .card__header__principal__avaliacao{
  color: var(--branco);
}

.card-linguagem-transparente .card__header__versao{
  color: var(--branco);
}

.card-linguagem-transparente .card__corpo{
  padding: 1.8rem 0;
  flex-wrap: wrap;
}

.card-linguagem-transparente .card__rodape{
  display: flex;
  justify-content: space-between;
}

.card-linguagem-transparente .card__rodape__link{
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.5rem 1.25rem;

  border-width: 1.5px;
  border-style: solid;
  border-radius: 5px;

  cursor: pointer;
  transition: 0.3s;
}

.card-linguagem-transparente .card__rodape__link{
  color: var(--cinza);
  border-color: var(--cinza);
}

.card-linguagem-transparente .card__rodape__link:hover{
  background-color: rgba(114, 114, 114, 0.2);
  border-color: var(--cinza);
  color: var(--cinza);
}

.card-linguagem-transparente .contador-projetos{
  display: flex;
  align-items: center;

  padding: 0.5rem 1.25rem;
}

.card-linguagem-transparente .contador-projetos{
  color: var(--cinza);
}

.card-linguagem-transparente .contador-projetos__quantidade{
  font-size: 1rem;
}

.card-linguagem-transparente .contador-projetos__icone{
  font-size: 1rem;

  margin-left: 0.75rem;
}

@media screen and (min-width: 0) and (max-width: 767px){
  .card-linguagem{
    width: auto;
  }

  .card-linguagem__header__principal__avaliacao{
    display: none;
  }

  .card-linguagem__header__versao{
    display: none;
  }
}

@media screen and (min-width: 0) and (max-width: 767px){
  .card-linguagem-transparente{
    margin-bottom: 1rem;

    width: 100%;
  }

  .card__header__principal__avaliacao{
    display: none;
  }

  .card__header__versao{
    display: none;
  }

  .card-linguagem-transparente .card__corpo{
    display: none;
  }

  .card__rodape{
    margin-top: 1rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px){
  .card__header__principal__avaliacao{
    display: none;
  }
}