/* @import url(./assets/css/variaveis.css);
@import url(./assets/css/reset.css);
@import url(./assets/css/normalize.css);

@import url(./assets/css/emphasis-sections.css);
@import url(./assets/css/menu.css);
@import url(./assets/css/title.css);
@import url(./assets/css/about.css);
@import url(./assets/css/skills.css);
@import url(./assets/css/hobbies.css);
@import url(./assets/css/academic.css);
@import url(./assets/css/experience.css);
@import url(./assets/css/services.css);
@import url(./assets/css/contato-iframe.css);
@import url(./assets/css/footer.css);

@import url(./assets/css/alert.css);
@import url(./assets/css/loader.css);
@import url(./assets/css/modal.css);
@import url(./assets/css/no-script.css); */

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: 'Inter Tight', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  position: relative;
}

.destaque {
  font-weight: 700;
}

.oculto {
  display: none;
}

.link-visivel {
  text-decoration: underline;
  cursor: pointer;
}

section {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

[data-aos] {
  &.hover-scale {
    /* Force transition of scale and box-shadow properties */
    /* By default, AOS overrides the property and only applies opacity and transition transformation  */
    transition-property: opacity, transform, scale, box-shadow !important;
  }
}

.hover-scale {
  transition-property: scale, box-shadow;
  transition-duration: 0.3s;

  &:hover {
    scale: 1.025;
    box-shadow: 0 0 20px #DDD;
  }
}